HELP.md

.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

gradle-app.setting

.DS_Store
Thumbs.db

*.log
logs/
log/

.idea/
*.iws
*.iml
*.ipr
out/
**/out/

.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/
bin/
**/bin/
.apt_generated/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

*.class
*.jar
*.war
*.ear

/test-results/
/coverage/
/jacoco/
/build/reports/

.env
*.env
application-local.yml
application-local.properties

**/.gradle/
**/target/
**/tmp/